<div class="navbar">
    <div class="logo">
        <h1>Listee</h1>
    </div>
    <div class="content">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Styles</a></li>
            <li><a href="">New</a></li>
            <li><a href="">Listings</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="SignIn">
        <button id="b1">Sign In</button>
        <button id="b2">Sign Up</button>
        <button id="b3">Add Listings</button>
    </div>
</div>